/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-dic-2013, 17:26:40
    Author     : jeiker26
*/
body{
    background-image: url('../img/b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.blackmiddle{
    background-color: rgba(0,0,0,.8);
}
